  <div *ngIf="professorSelecionado">
    <app-titulo [titulo]="(professorSelecionado.id === 0 ? 'Novo Professor' :  'Cód. Professor: ' + professorSelecionado.id)">
      <div class="mt-1">
        <button class="btn btn-warning" (click)="voltar()">Fechar</button>
      </div>
        </app-titulo>

    <form [formGroup]="ProfessorForm" (submit)="professorSubmit()">
      <div class="mb-3">
        <label class="form-label">Nome</label>
        <input type="text" formControlName="nome" class="form-control">
      </div>
      <!-- <div class="mb-3">
        <label class="form-label">Disciplina</label>
        <input type="text" formControlName="disciplina" class="form-control">
      </div> -->
      <div class="form-group">
        <hr>
        <button class="btn btn-success" [disabled]="!ProfessorForm.valid">Salvar</button>
      </div>
    </form>
  </div>

  <div *ngIf="!professorSelecionado">
    <app-titulo [titulo]="titulo">
      <div class="mt-1">
        <button class="btn btn-success" (click)="professorNovo()">Cadastrar Professor</button>
      </div>
    </app-titulo>
    <table class="table table-hover">
      <thead class="table-light">
        <th scope="col">Visualizar</th>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Disciplina</th>
        <th scope="col">Opções</th>
      </thead>
      <tbody>
        <tr *ngFor="let prof of professores">
          <th scope="row"><button class="btn btn-sm btn-warning" (click)="professorSelect(prof)">Detalhe</button></th>
          <th scope="row">{{prof.id}}</th>
          <td>{{prof.nome}}</td>
          <td>{{prof.disciplina}}</td>
          <td>
            <div class="btn-group">

              <button class="btn btn-sm btn-outline-primary" (click)="openModal(template)">Alunos</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
</ng-template>
